root = true

[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true

[*.py]
line_lenght = 140
indent_style = space
indent_size = 4
insert_final_newline = false

[*.{js, scss, css}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.html]
indent_style = space
indent_size = 4
insert_final_newline = false

[*.txt]
insert_final_newline = false

[*.md]
insert_final_newline = true