root = true

[*]
charset = utf-8
trim_trailing_whitespace = true

[*.py]
line_lenght = 140
indent_style = space
indent_size = 4
insert_final_newline = false

[*.{js, scss, css}]
indent_style = space
indent_size = 2
insert_final_newline = false

[*.html]
indent_style = space
indent_size = 4
insert_final_newline = false

[*.txt]
insert_final_newline = false

[*.{md, yml}]
insert_final_newline = true

[Dockerfile]
end_of_line = lf

[*.{yml, sh}]
end_of_line = lf