<a class="container-grid-post overlay-image" href="{% url 'posts:detail' url=post.url %}">
    <img src="{{ post.thumbnail.url }}" alt="post-thumbnail">
    <div id="overlay" class="overlay flex-align-center flex-justify-center">
        <section class="overlay-icons flex flex-algin-center flex-justify-between">
            <span class="flex flex-align-center">
                {% include 'icons/heart.html' with width="24" height="24" %}
                <span style="margin-left: 5px;">{{ post.likes.count }}</span>
            </span>
            <span class="flex flex-align-center">
                {% include 'icons/comment-bubble.html' with width="24" height="24" %}
                <span style="margin-left: 5px;">{{ post.comments.count }}</span>
            </span>
        </section>
    </div>
</a>