{% extends 'includes/post_card.html' %}

{% block comment_form %}
<form hx-post="{% url 'posts:comment-feed' url=post.url %}" hx-target="#comments-counter-{{ post.id }}" hx-swap="outerHTML">
  {% csrf_token %}
  <div class="form-group flex">
    <section class="card-user-form" style="margin-right: 15px;">
    {% if request.user.profile.picture %}
      <img src="{{ request.user.profile.picture.url }}" alt="{{ request.user.username }}_profile_picture">
    {% else %}
      <div class="profile-default flex flex-align-center flex-justify-center">
        {{ request.user.first_name | slice:':1' }}{{ request.user.last_name | slice:':1' }}
      </div>
    {% endif %}
    </section>
    {{ comment_form.body }}
  </div>
</form>
{% endblock %}