<div class="sidebar sidebar-settings">
    <section class="sidebar-user">
        <div class="flex flex-align-center">
            <section class="" style="width: 40px; height:40px; border-radius: 100%; overflow: hidden; margin-right: 15px;">
            {% if request.user.profile.picture %}
                <img src="{{ request.user.profile.picture.url }}" alt="">
            {% else %}
                <span class="flex flex-align-center flex-justify-center profile-default">
                    {{ request.user.first_name|slice:':1' }}{{ request.user.last_name|slice:':1' }}
                </span>
            {% endif %}
            </section>
            <section class="flex flex-column" style="text-align: left;">
                <h4 class="mb-5">{{ request.user.get_full_name }}</h4>
                <p>Account settings</p>
            </section>
        </div>
    </section>
    <section class="sidebar-divider"></section>
    <section class="sidebar-links">
        <ul class="">
            <li class="sidebar-item">
                {% url 'account:edit-profile' as edit_profile %}
                <a class="{% if request.path == edit_profile %}sidebar-link-active{% else %}sidebar-link{% endif %}" href="{{ edit_profile }}">
                    <span class="flex flex-align-center">
                        {% include 'icons/user-circle.html' with width="24" height="24" %}
                        <span>Public profile</span>
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
                {% url 'account:edit-account' as edit_account %}
                <a class="{% if request.path == edit_account %}sidebar-link-active{% else %}sidebar-link{% endif %}" href="{{ edit_account }}">
                    <span class="flex flex-align-center">
                        {% include 'icons/user.html' with width="24" height="24" %}
                        <span>Account</span>
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
                {% url 'account:change-password' as change_password %}
                <a class="{% if request.path == change_password %}sidebar-link-active{% else %}sidebar-link{% endif %}" href="{{ change_password }}">
                    <span class="flex flex-align-center">
                        {% include 'icons/key.html' with width="24" height="24" %}
                        <span>Password</span>
                    </span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="">
                    <span class="flex flex-align-center">
                        {% include 'icons/lock.html' %}
                        <span>Privacy and security</span>
                    </span>
                </a>
            </li>
        </ul>
    </section>
    <section class="" style="margin-top: 27px;"><a class="" href="{% url 'account:feed' %}">Return to home</a></section>
</div>