<section class="sidebar sidebar-left" hx-boost="true">
    <div class="sidebar-user flex flex-column flex-align-center flex-justify-center">
        <section class="sidebar-user-picture mb-15" style="overflow: hidden;">
        {% if request.user.profile.picture %}
            <img src="{{ request.user.profile.picture.url }}" alt="" style="width: 100%; height: 100%; object-fit: cover;">
        {% else %}
            <span class="profile-default flex flex-align-center flex-justify-center">
                {{ request.user.first_name|slice:':1' }}{{ request.user.last_name|slice:':1' }}
            </span>
        {% endif %}
        </section>
        <h3 class="mb-10">{{ request.user.get_full_name }}</h3>
        <h4><a href="{% url 'account:profile' username=request.user.username %}">@{{ request.user.username }}</a></h4>
    </div>
    <div class="sidebar-divider"></div>
    <div class="sidebar-links">
        <ul>
            <li>
                {% url 'account:feed' as feed %}
                <a class="{% if request.path == feed %}sidebar-link-active{% else %}sidebar-link{% endif %}" href="{% url 'account:feed' %}">
                    <span class="flex flex-align-center">
                        {% include 'icons/home.html' with width="24" height="24" %}
                        <span>Home</span>
                    </span>
                </a>
            </li>
            <li>
                {% url 'account:profile' username=request.user.username as profile %}
                {% url 'posts:bookmarks' username=request.user.username as bookmarks %}
                <a class="{% if request.path == profile or request.path == bookmarks %}sidebar-link-active{% else %}sidebar-link{% endif %}" href="{{ profile }}">
                    <span class="flex flex-align-center">
                        {% include 'icons/user.html' with width="24" height="24" %}
                        <span>@{{ request.user.username }}</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" href="{% url 'messenger:home' %}">
                    <span class="flex flex-align-center">
                        {% include 'icons/paper-plane.html' with width="24" height="24" %}
                        <span>Messages</span>
                    </span>
                </a>
            </li>
            <li>
                {% url 'notifications:all' as notifications %}
                <a class="{% if request.path == notifications %}sidebar-link-active{% else %}sidebar-link{% endif %}" href="{{ notifications }}">
                    <span class="flex flex-align-center">
                        {% include 'icons/bell.html' with width="24" height="24" %}
                        <span>Notifications</span>
                    </span>
                    <span id="notifications-counter" class="sidebar-notifications flex flex-align-center flex-justify-center" style="display: none;">0</span>
                </a>
            </li>
            <li>
                {% url 'account:explore' as explore %}
                <a class="{% if request.path == explore %}sidebar-link-active{% else %}sidebar-link{% endif %}" href="{{ explore }}">
                    <span class="flex flex-align-center">
                        {% include 'icons/compass.html' with width="24" height="24" %}
                        <span>Explore</span>
                    </span>
                </a>
            </li>
            <li>
                <a class="sidebar-link" href="{% url 'account:edit-profile' %}">
                    <span class="flex flex-align-center">
                        {% include 'icons/settings.html' with width="24" height="24" %}
                        <span>Settings</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>