<section class="sidebar sidebar-left" hx-boost="true">
  <div>
    <h4>Messages</h4>
  </div>
  <div class="sidebar-user flex flex-column flex-align-center flex-justify-center">
    <section style="width: 100%; height: 80px; border-bottom: 1px solid #C0C0C0;"></section>
    <section style="width: 100%; height: 80px; border-bottom: 1px solid #C0C0C0;"></section>
    <section style="width: 100%; height: 80px; border-bottom: 1px solid #C0C0C0;"></section>
    <section style="width: 100%; height: 80px; border-bottom: 1px solid #C0C0C0;"></section>
    <section style="width: 100%; height: 80px; border-bottom: 1px solid #C0C0C0;"></section>
    <section style="width: 100%; height: 80px; border-bottom: 1px solid #C0C0C0;"></section>
    <section style="width: 100%; height: 80px; border-bottom: 1px solid #C0C0C0;"></section>
  </div>
</section>