{% extends 'users/base.html' %}
{% block title %}{{ user.get_full_name }} (@{{ user.username }}) &#8226; {{ block.super }} photos and videos{% endblock %}

{% block account_content %}
    <div class="profile-container" hx-boost="true">
        {% include 'includes/profile-data.html' %}
        <section class="profile-options flex flex-justify-center">
            <div class="profile-link-group flex flex-justify-between">
                {% url 'account:profile' username=user.username as profile %}
                <a class="profile-link flex flex-align-center {% if request.path == profile %}profile-link-active{% endif %}" href="{{ profile }}">
                    {% include 'icons/grid.html' with width="24" height="24" %}
                    <span style="margin-left: 10px;">Posts</span>
                </a>
                {% if request.user == user %}
                    {% url 'posts:bookmarks' username=user.username as bookmarks %}
                    <a class="profile-link flex flex-align-center {% if request.path == bookmarks %}profile-link-active{% endif %}" href="{{ bookmarks }}">
                        {% include 'icons/bookmark.html' with width="24" height="24" %}
                        <span style="margin-left: 10px;">Saved</span>
                    </a>
                {% endif %}
                <a class="profile-link flex flex-align-center" href="">
                    {% include 'icons/tag.html' with width="24" height="24" %}
                    <span style="margin-left: 10px;">Tagged</span>
                </a>
            </div>
        </section>
        <section class="profile-content">
            {% block profile_content %}{% endblock %}
        </section>
    </div>
{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">
        document.body.addEventListener("htmx:configRequest", (event) => {
            event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}"
        });
    </script>
{% endblock %}