{% extends 'base.html' %}
{% block title %}{{ block.super }}{% endblock %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
{% block container %}
    <section class="container flex flex-justify-center">
        <div class="container-account">
            {% block sidebar_left %}
                <div class="sidebar sidebar-fill left-0"></div>
                <div class="sidebar sidebar-container sidebar-container-left">
                    {% include 'includes/sidebar-left.html' %}
                </div>
            {% endblock %}
            {% block account_content %}{% endblock %}
            {% block sidebar_right %}
                <div class="sidebar sidebar-fill right-0"></div>
                <div class="sidebar sidebar-container sidebar-container-right">
                    {% include 'includes/sidebar-right.html' %}
                </div>
            {% endblock %}
        </div>
    </section>
{% endblock %}