{% extends 'users/settings.html' %}
{% block title %}{{ title }} &#8226; {{ block.super }}{% endblock %}

{% block settings_title %}Change password{% endblock %}
{% block settings_content %}
  <form action="{% url 'account:change-password' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group flex flex-column mb-20">
        <label for="{{ field.name }}" class="text-dark mb-8">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          {% for error in field.errors %}
            <span class="text-danger mt-5">{{ error }}</span>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
    <div class="flex flex-justify-start">
      <button type="submit" class="btn btn-normal btn-purple">Change password</button>
    </div>
  </form>
{% endblock %}