{% extends 'users/base.html' %}
{% block title %}Explore  &#8226; {{ block.super }}{% endblock %}

{% block account_content %}
    <div class="profile-container">
        {% if posts %}
            <div class="profile-grid grid grid-gap-14 grid-col-3 flex flex-justify-center flex-align-center">
                {% for post in posts %}
                    {% include 'includes/post_grid_card.html' %}
                {% endfor %}
            </div>
        {% else %}
            <h2>No posts yet</h2>
        {% endif %}
    </div>
{% endblock %}
{% block sidebar_right %}{% endblock %}