{% extends 'users/base.html' %}
{% block title %}{{ user.get_full_name }} (@{{ user.username }}) &#8226; {{ block.super }} photos and videos{% endblock %}

{% block account_content %}
  <div class="profile-container" hx-boost="true">
    {% include 'includes/profile-data.html' %}
    <section class="profile-options flex flex-justify-center">
      <div class="profile-link-group flex flex-justify-between">
        {% url 'account:profile' username=user.username as profile %}
        <a class="profile-link flex flex-align-center {% if request.path == profile %}profile-link-active{% endif %}" href="{{ profile }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
          <span style="margin-left: 10px;">Posts</span>
        </a>
        {% if request.user == user %}
          {% url 'posts:bookmarks' username=user.username as bookmarks %}
          <a class="profile-link flex flex-align-center {% if request.path == bookmarks %}profile-link-active{% endif %}" href="{{ bookmarks }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bookmark"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg>
            <span style="margin-left: 10px;">Saved</span>
          </a>
        {% endif %}
        <a class="profile-link flex flex-align-center" href="">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7.01" y2="7"></line></svg>
          <span style="margin-left: 10px;">Tagged</span>
        </a>
      </div>
    </section>
    <section class="profile-content">
    {% if request.path == profile %}
      {% if user.posts.all %}
        <div class="grid grid-gap-14 grid-col-3 flex flex-justify-center flex-align-center">
          {% for post in user.posts.all %}
              {% include 'includes/post_grid_card.html' %}
          {% endfor %}
        </div>
      {% else %}
        <div class="flex flex-align-center flex-justify-center" style="height: 25vh;">
          <div class="flex flex-column flex-align-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-image"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>
            <h2 class="mt-15">No posts yet</h2>
          </div>
        </div>
      {% endif %}
    {% else %}
      {% block profile_content %}{% endblock %}
    {% endif %}
    </section>
  </div>
{% endblock %}
{% block sidebar_right %}{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript">
    document.body.addEventListener("htmx:configRequest", (event) => {
      event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}"
    });
  </script>
{% endblock %}