{% extends 'base.html' %}
{% block title %}{{ block.super }}{% endblock %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock %}
{% block container %}
    <section class="container flex flex-justify-center">
        <div class="container-settings">
            {% block sidebar_settings %}
                <div class="sidebar sidebar-fill left-0"></div>
                {% include 'includes/settings-bar.html' %}
            {% endblock %}
            <section class="container-settings-content">
                <h3>{% block settings_title %}{% endblock %}</h3>
                <div class="settings-divider" style="width: 100%; height: 1px; margin: 25px auto; background: #D1D1D1;"></div>
                {% block settings_content %}{% endblock %}
                <div class="flex flex-justify-start">
                    <button type="submit" class="btn btn-normal btn-purple">Save changes</button>
                </div>
            </section>
        </div>
    </section>
{% endblock %}