{% extends 'users/profile.html' %}
{% load static %}

{% block profile_content %}
    <div class="flex flex-justify-end mb-20">
        <button id="collection-btn" class="flex link-purple">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
            <span style="margin-left: 5px;">New collection</span>
        </button>
    </div>
    <div class="grid grid-gap-14 grid-col-3 flex flex-justify-center flex-align-center" hx-boost="true">
        {% for collection in collections %}
            <a class="container-grid-post overlay-image" href="{% url 'posts:bookmark' request.user.username collection.slug %}">
                <section class="grid grid-col-2 grid-row-2">
                    {% for post in collection.posts.all %}
                        <img src="{{ post.image.url }}" alt="">
                    {% endfor %}
                </section>
                <section class="overlay"></section>
            </a>
        {% endfor %}
    </div>
    <div id="collection-modal" class="container-modal new-collection flex-align-center flex-justify-center">
        <form action="{% url 'posts:new-collection' %}" method="post" class="form-collection">
            {% csrf_token %}
            <div class="form-group flex flex-column mb-15">
                <label for="{{ form.name.name }}" class="text-dark mb-8">New collection</label>
                {{ form.name }}
            </div>
            <button type="submit" class="btn btn-normal btn-pink" style="width: 100%;">Add collection</button>
        </form>
        <span id="close-collection" class="container-modal-close">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 24 24">
                <path d="M5.293 6.707l5.293 5.293-5.293 5.293c-0.391 0.391-0.391 1.024 0 1.414s1.024 0.391 1.414 0l5.293-5.293 5.293 5.293c0.391 0.391 1.024 0.391 1.414 0s0.391-1.024 0-1.414l-5.293-5.293 5.293-5.293c0.391-0.391 0.391-1.024 0-1.414s-1.024-0.391-1.414 0l-5.293 5.293-5.293-5.293c-0.391-0.391-1.024-0.391-1.414 0s-0.391 1.024 0 1.414z"></path>
            </svg>
        </span>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/forms.js' %}"></script>
{% endblock %}