<div id="post-modal" class="container-modal">
    <section class="post-container" hx-boost="true">
        <div class="post-container-head flex flex-align-center flex-justify-center">
            <button type="button" id="image-clear" class="post-clean">
                {% include 'icons/arrow-left.html' with width="35" height="16" %}
            </button>
            <span>Create new post</span>
        </div>
        <form action="{% url 'posts:new' %}" method="post" id="create-post-form" class="post-form flex" enctype="multipart/form-data">
            {% csrf_token %}
            <section class="form-group post-form-image flex flex-align-center flex-justify-center">
                {{ post_form.image }}
                <div id="image-container" class="post-form-image-container"></div>
            </section>
            <section class="form-group post-form-right">
                {{ post_form.description }}
                <button type="submit" id="publish" class="btn btn-normal btn-purple post-button">Publish</button>
            </section>
        </form>
    </section>
    <span id="close-popup" class="container-modal-close">
        {% include 'icons/x.html' with width="26" height="26" %}
    </span>
</div>