.card {
    position: relative;
    &-post {
        width: 620px;
        height: auto;
        background: $light;
        border: 1px solid $gray-200;
        margin: auto;
        border-radius: 10px;
        margin-bottom: 30px;
        padding: 20px 15px;
    }
    &-header {
        width: 100%;
        height: auto;
        margin-bottom: 15px;

    }
    &-options {
        position: absolute;
        right: 0;
        width: 250px;
        height: auto;
        border: 1px solid $gray-100;
        padding: 2px;
        background: $light;
        box-shadow: $input-shadow-normal;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.2 ease;

        & button, & a {
            width: 100%;
            padding: 8px 10px;
            font: {
                size: $font-15px;
                weight: $font-500;
            }
            & svg {
                margin-right: 8px;
            }
            &:hover {
                background-color: $gray-50;
            }
        }
    }
    &-user {
        font-weight: $font-500;
        color: $dark;
        &-picture {
            width: 32px;
            height: 32px;
            font-size: $font-12px;
            border-radius: 100%;
            overflow: hidden;
        }
        &-form {
            width: 45px;
            height: auto;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-actions {
        margin: 10px auto 20px auto;
        font-size: $font-15px;
        &-main {
            & > button, & > a {
                margin-right: 20px;
            }
        }
        & button, & a {
            color: $dark;
            font-weight: $font-500;
        }
    }
    &-comment {
        width: 100%;
        height: auto;
        padding: 10px 0px;
        display: flex;
        align-items: start;
        font-size: $font-15px;
        &-container {
            width: 90%;
        }
        &-author {
            font-weight: $font-600;
            color: $dark;
            margin-right: 5px;
        }
        &-body {
            font-weight: $font-500;
            color: $dark;
        }
    }
    &-notification {
        width: 100%;
        height: auto;
        padding: 15px 15px;
        background-color: $light;
        border: 1px solid $gray-100;
        border-radius: 8px;
        margin-bottom: 15px;
        color: $dark;
    }
}

.notification {
    &-user {
        width: 50px;
        height: 50px;
        border-radius: 6px;
        overflow: hidden;
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-not-read {
        border: 1px solid $gray-300;
    }
}