{% extends 'base.html' %}
{% block title %}{{ block.super }}{% endblock %}

{% block navbar %}{% include 'includes/navbar-auth.html' %}{% endblock %}
{% block container %}
    <section class="container container-full flex">
        <div class="container-auth-form flex flex-align-center flex-justify-center">
            {% url 'account:signup' as signup %}
            <section class="{% if request.path == signup %}form-w-480{% else %}form-w-385{% endif %}" hx-boost="true">
                <div class="form-title" style="margin-bottom: 26px; text-align: center;">
                    <h3>{% block form_title %}{% endblock %}</h3>
                </div>
                <div class="form-head">
                    {% block form_head %}
                        <section>
                            <a class="btn btn-normal btn-auth" href="">
                                {% include 'icons/facebook.html' with width="20" height="20" %}
                                <span style="margin-left: 10px;">{% block button_text %}{% endblock %}</span>
                            </a>
                            <div class="form-div flex flex-align-center flex-justify-between">
                                <span class="form-line"></span> or <span class="form-line"></span>
                            </div>
                        </section>
                    {% endblock %}
                </div>
                <div class="form-body">
                    {% block form_body %}{% endblock %}
                </div>
            </section>
        </div>
        <div class="container-auth-img">{% block auth_cover %}{% endblock %}</div>
    </section>
{% endblock %}