{% extends 'auth/base_password.html' %}

{% block form_body %}
    <form action="{% url 'account:password-reset-request' %}" method="post">
        {% csrf_token %}
        <div class="form-group flex flex-column mb-15">
            <label for="{{ form.email.name }}" class="text-dark mb-8">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <section class="flex flex-align-center flex-justify-between" style="margin-bottom: 20px;">
            <a class="link-pink" href="{% url 'account:login' %}">Return to login</a>
            <a class="link-pink" href="{% url 'account:signup' %}">Need an account?</a>
        </section>
        <button type="submit" class="btn btn-normal btn-pink" style="width: 100%;">Send reset instructions</button>
    </form>
{% endblock %}