{% extends 'auth/base_password.html' %}

{% block form_head %}{% endblock %}
{% block form_body %}
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group flex flex-column mb-15 ">
                <label for="{{ field.name }}" class="text-dark mb-8">{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-normal btn-pink" style="width: 100%;">Reset password</button>
    </form>
{% endblock %}