{% extends 'auth/base.html' %}
{% block title %}{{ title }} &#8226; {{ block.super }}{% endblock %}
{% load static %}

{% block form_title %}Create an account{% endblock %}
{% block button_text %}Sign Up with Facebook{% endblock %}
{% block form_body %}
    <form action="{% url 'account:signup' %}" method="post">
        {% csrf_token %}
        <div class="form-input-group grid grid-gap-20 grid-col-2 mb-15">
            <section class="form-group flex flex-column">
                <label for="first_name" class="mb-8">First name</label>
                {{ form.first_name }}
            </section>
            <section class="form-group flex flex-column">
                <label for="last_name" class="mb-8">Last name</label>
                {{ form.last_name }}
            </section>
        </div>
        <div class="form-group flex flex-column mb-15">
            <label for="username" class="mb-8">Username</label>
            {{ form.username }}
        </div>
        <div class="form-group flex flex-column mb-15">
            <label for="email" class="mb-8">Email address</label>
            {{ form.email }}
        </div>
        <div class="form-group flex flex-column mb-20">
            <label for="username" class="mb-8">Password</label>
            {{ form.password }}
        </div>
        <section class="flex flex-align-center flex-justify-end mb-20">
            <p style="font-size: 15px; font-weight: 500;">
                You have an account? <a class="link-pink" href="{% url 'account:login' %}">Log in</a>
            </p>
        </section>
        <button type="submit" class="btn btn-normal btn-pink" style="width: 100%;">Create account</button>
    </form>
{% endblock %}

{% block auth_cover %}
  <img src="{% static 'images/body/karsten-winegeart.jpg' %}" alt="">
{% endblock %}