.flex {
    display: flex;

    &-justify {
        &-center {
            justify-content: center;
        }
        &-start {
            justify-content: start;
        }
        &-end {
            justify-content: end;
        }
        &-between {
            justify-content: space-between;
        }
    }
    &-align {
        &-center {
            align-items: center;
        }
        &-start {
            align-items: start;
        }
        &-end {
            align-items: end;
        }
    }

    &-column {
        flex-direction: column;
    }
}