.flex {
    display: flex;

    &-justify {
        &-center {
            justify-content: center;
        }
        &-start {
            justify-content: start;
        }
        &-end {
            justify-content: end;
        }
        &-between {
            justify-content: space-between;
        }
    }
    &-align {
        &-center {
            align-items: center;
        }
        &-start {
            align-items: start;
        }
        &-end {
            align-items: end;
        }
    }

    &-column {
        flex-direction: column;
    }
}

.grid {
    display: grid;
    grid-template-rows: auto;

    &-col {
        &-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &-row {
        &-2 {
            grid-template-rows: repeat(2, 1fr);
        }
        &-4 {
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &-gap {
        &-14 {
            gap: 14px;
        }
        &-20 {
            gap: 20px;
        }
    }
}

.left-0 { left: 0; }
.right-0 { right: 0; }