.m {
    &b-5 {
        margin-bottom: 5px;
    }
    &b-8 {
        margin-bottom: 8px;
    }
    &b-10 {
        margin-bottom: 10px;
    }
    &b-15 {
        margin-bottom: 15px;
    }
    &b-20 {
        margin-bottom: 20px;
    }
}