<form
    hx-post="{% url 'posts:like' url=post.url %}"
    hx-target="this"
    hx-swap="outerHTML"
    class="flex flex-align-center"
    style="margin-right: 15px;"
>
    <button type="submit" id="like-btn" class="flex flex-align-center {% if liked %}post-liked{% endif %}">
        {% include 'icons/heart.html' with width="24" height="24" %}
    </button>
    <button type="button" style="margin-left: 5px;">
        {{ post.total_likes }} Like{{ post.likes.count | pluralize }}
    </button>
</form>