<div id="post-card" class="card card-post" hx-boost="true">
    <section class="card-header flex flex-align-center flex-justify-between">
        <a class="card-user flex flex-align-center" href="{% url 'account:profile' username=post.author.username %}">
            {% include 'includes/user-picture.html' %}
            <span class="card-user-username" style="margin-left: 10px;">{{ post.author }}</span>
        </a>
        <div x-data="{ showOptions: false }" style="position: relative;">
            <button @click="showOptions = true" class="card-options-btn">
                {% include 'icons/horizontal-ellipsis.html' with width="24" height="24" %}
            </button>
            <section class="card-options" x-show="showOptions" @click.outside="showOptions = false">
            {% if request.user == post.author %}
                <form action="{% url 'posts:delete' url=post.url %}" method="post">
                    <button class="flex flex-align-center">
                        {% include 'icons/trash.html' with width="20" height="20" %}
                        <span>Delete</span>
                    </button>
                </form>
            {% else %}
                {% if post.author in request.user.following.all %}
                    <form action="" method="post">
                        <button class="flex flex-align-center">
                            {% include 'icons/user-minus.html' with width="20" height="20" %}
                            <span>Unfollow</span>
                        </button>
                    </form>
                {% else %}
                    <form action="">
                        <button class="flex flex-align-center">
                            {% include 'icons/user-plus.html' with width="20" height="20" %}
                            <span>Follow</span>
                        </button>
                    </form>
                {% endif %}
            {% endif %}
          </section>
        </div>
    </section>
    <section class="card-image"><img src="{{ post.image.url }}" alt="{{ post.author.username }}-post-image"></section>
    <section class="card-actions flex flex-align-center flex-justify-between">
        <div class="card-actions-main flex">
            {% include 'includes/like.html' %}
            {% include 'includes/comments-counter.html' %}
        </div>
        {% include 'includes/save.html' %}
    </section>
    <section class="card-comment-form">
        {% block comment_form %}{% endblock %}
    </section>
    {% block post_comments %}{% endblock %}
</div>