<div class="card card-post">
    <section class="card-header flex flex-align-center flex-justify-between">
        <a class="card-user flex flex-align-center" href="{% url 'account:profile' username=post.author %}">
            {% include 'includes/user-picture.html' %}
            <span class="card-user-username" style="margin-left: 10px;">{{ post.author }}</span>
        </a>
        <button class="card-options">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M14 12c0-0.552-0.225-1.053-0.586-1.414s-0.862-0.586-1.414-0.586-1.053 0.225-1.414 0.586-0.586 0.862-0.586 1.414 0.225 1.053 0.586 1.414 0.862 0.586 1.414 0.586 1.053-0.225 1.414-0.586 0.586-0.862 0.586-1.414zM21 12c0-0.552-0.225-1.053-0.586-1.414s-0.862-0.586-1.414-0.586-1.053 0.225-1.414 0.586-0.586 0.862-0.586 1.414 0.225 1.053 0.586 1.414 0.862 0.586 1.414 0.586 1.053-0.225 1.414-0.586 0.586-0.862 0.586-1.414zM7 12c0-0.552-0.225-1.053-0.586-1.414s-0.862-0.586-1.414-0.586-1.053 0.225-1.414 0.586-0.586 0.862-0.586 1.414 0.225 1.053 0.586 1.414 0.862 0.586 1.414 0.586 1.053-0.225 1.414-0.586 0.586-0.862 0.586-1.414z"></path>
            </svg>
        </button>
    </section>
    <section class="card-image"><img src="{{ post.image.url }}" alt="{{ post.author.username }}-post-image"></section>
    <section class="card-actions flex flex-align-center flex-justify-between">
        <div class="card-actions-main flex">
            {% include 'includes/like.html' %}
            <a id="comments-counter" class="flex flex-align-center" href="{% url 'posts:detail' url=post.url %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                <span style="margin-left: 5px;">{{ post.total_comments }} Comment{{ post.total_comments | pluralize }}</span>
            </a>
        </div>
        {% include 'includes/save.html' %}
    </section>
    <section class="card-comment-form">
       {% block comment_form %}{% endblock %}
    </section>
    {% block post_comments %}{% endblock %}
</div>